body {
  background: #212f3c;
}

.links line {
  stroke-opacity: 0.6;
}

svg {
  font-family: Menlo, monospace;
  font-size: 10px;
}

a {
  color: #f4d03f;
  text-decoration: none;
}

a:hover {
  color: #f7dc6f ;
  text-decoration: underline;
}

a:visited {
  color: #f39c12;
}

#disclaimer {
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  background: #145a32;
  color: white;
}

.hovertext {
  border-radius: 5px;
  padding: 7px;
  position: absolute;
  max-width: 30%;
  background: #145a32;
  color: white;
}